<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

    {% if method %}
      <title>{{ '!mutates' if method.mutates else 'no mutation'}}</title>
      <link
        rel="icon"
        sizes="32x32"
        key="favicon"
        href="/static/{{'yes' if method.mutates else 'no'}}.png"
      >
    {% else %}
      <title>Does it mutate?</title>
      <link
        rel="icon"
        sizes="32x32"
        key="favicon"
        href="/static/favicon.png"
      />
    {% endif %}

  </head>

  <body id="{{ method.name }}">
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>
        Made by <a href="https://twitter.com/rem">@rem</a>
      </p>
    </footer>
  </body>

</html>
